<button (click)='displayFunc()'>display</button>
<button (click)='hideFunc()'>Hide</button>
<div *ngIf="displayUsers" class="mainContainer">
  <ng-container *ngFor="let user of allComments">
    <div appStatusColor [status]="user.status" class="oneUser" appChangeColor>
      <h4>{{user.firstName}}</h4>
      <p>{{user.lastName}}</p>
      <p>{{user.about}}</p>
      <p>{{user.birthDate | userAge}}</p>
      <div appStatusColor [statusChild]="user.status">{{user.status}}</div>
    </div>
  </ng-container>
</div>


<!-- task2 -->
<h3>task2</h3>
<input type="number" min="0" [(ngModel)]="amount" (input)="onSearchChange()">
<ng-container *ngIf="amount && styleContainer">
  <div class="task2Container" [ngStyle]="styleContainer">
    <div class="oneBlock" *ngFor="let _ of [].constructor(amount*amount)" appChangeColor>
    </div>
  </div>
</ng-container>
<!-- task2 -->